<section id="thanks">
	<div class="thanks-text">
		<p>
			Thank you {{name}} {{surname}} for signing our Petition!
		</p>
		<img src="{{signature}}" alt="signature" style="width:500; height:100;">

		<form method="POST">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input id="delSig" type="hidden" name="delSig" value="" data-id="{id}">
			<button style="background-color:#723881;" class="btn btn-danger delete-signature">
				<span class="glyphicon glyphicon-edit" aria-hidden="true" > X </span>
			</button>
		</form>

		<p>
			Your petition will be send to <span style="font-weight: bold; color: #f6d365;">the Egyptian Government </span>to be able to rebuild the pyramid constructions.
		</p>
		<p>
			<a id="allSigner">See all other {{rows.length}} signers</a>
		</p>
	</div>
		<ul id="signerlist" style="font-size:12; color: blue;">
			{{#rows}}
			<li>{{this.name}} {{this.surname}}</li>
			{{/rows}}
		</ul>
</section>

<script type="text/javascript">
	$('#allSigner').on('click', () => {
    	$('#signerlist').toggle();
	});
</script>
